body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u638 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
}
#u639 {
  position:absolute;
  left:0px;
  top:32px;
  width:1920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640 {
  position:absolute;
  left:150px;
  top:20px;
  width:300px;
  height:40px;
}
#u640_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u640_input:disabled {
  color:grayText;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u641 {
  position:absolute;
  left:1701px;
  top:20px;
  width:100px;
  height:40px;
  font-size:20px;
}
#u642 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u643 {
  position:absolute;
  left:1402px;
  top:20px;
  width:100px;
  height:40px;
  font-size:20px;
}
#u644 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u645 {
  position:absolute;
  left:200px;
  top:113px;
  width:200px;
  height:50px;
  font-size:20px;
}
#u646 {
  position:absolute;
  left:0px;
  top:13px;
  width:200px;
  word-wrap:break-word;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u647 {
  position:absolute;
  left:200px;
  top:186px;
  width:650px;
  height:50px;
  font-size:20px;
}
#u648 {
  position:absolute;
  left:0px;
  top:13px;
  width:650px;
  word-wrap:break-word;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:500px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u649 {
  position:absolute;
  left:230px;
  top:286px;
  width:1400px;
  height:500px;
}
#u650 {
  position:absolute;
  left:2px;
  top:2px;
  width:1396px;
  word-wrap:break-word;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u651 {
  position:absolute;
  left:200px;
  top:246px;
  width:60px;
  height:25px;
}
#u652 {
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1189px;
  height:430px;
}
#u653 {
  position:absolute;
  left:275px;
  top:336px;
  width:1189px;
  height:430px;
}
#u654 {
  position:absolute;
  left:2px;
  top:207px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u655 {
  position:absolute;
  left:200px;
  top:822px;
  width:1500px;
  height:130px;
}
#u656 {
  position:absolute;
  left:2px;
  top:57px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u657 {
  position:absolute;
  left:230px;
  top:849px;
  width:150px;
  height:25px;
  font-size:18px;
}
#u658 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u659 {
  position:absolute;
  left:230px;
  top:894px;
  width:125px;
  height:25px;
  font-size:18px;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u661 {
  position:absolute;
  left:493px;
  top:846px;
  width:700px;
  height:25px;
}
#u662 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  word-wrap:break-word;
}
#u663 {
  position:absolute;
  left:682px;
  top:852px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u664 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u663_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u665 {
  position:absolute;
  left:873px;
  top:852px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u666 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u665_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u667 {
  position:absolute;
  left:1007px;
  top:852px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u668 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u667_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u669 {
  position:absolute;
  left:1153px;
  top:852px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u670 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u669_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u671 {
  position:absolute;
  left:1308px;
  top:852px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u672 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u671_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u673 {
  position:absolute;
  left:576px;
  top:911px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u674 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u673_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u675 {
  position:absolute;
  left:762px;
  top:911px;
  width:120px;
  height:19px;
  font-size:16px;
}
#u676 {
  position:absolute;
  left:16px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u675_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u677 {
  position:absolute;
  left:1000px;
  top:911px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u678 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u677_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u679 {
  position:absolute;
  left:200px;
  top:973px;
  width:71px;
  height:17px;
}
#u680 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u681 {
  position:absolute;
  left:281px;
  top:969px;
  width:1419px;
  height:62px;
}
#u681_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1419px;
  height:62px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u682 {
  position:absolute;
  left:1126px;
  top:1055px;
  width:100px;
  height:25px;
}
#u682_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
