body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:69px;
  width:102px;
  height:85px;
}
#u0_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u2_img.selected {
}
#u2.selected {
}
#u3 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u5 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u1_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6 {
  position:absolute;
  left:20px;
  top:20px;
  width:55px;
  height:20px;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:22px;
  top:0px;
  width:33px;
  height:20px;
}
#u8 {
  position:absolute;
  left:3px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:20px;
  top:40px;
  width:68px;
  height:20px;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:22px;
  top:0px;
  width:46px;
  height:20px;
}
#u11 {
  position:absolute;
  left:3px;
  top:2px;
  width:41px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:20px;
  top:60px;
  width:77px;
  height:20px;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:22px;
  top:0px;
  width:55px;
  height:20px;
}
#u14 {
  position:absolute;
  left:3px;
  top:2px;
  width:50px;
  visibility:hidden;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:0px;
  top:132px;
  width:120px;
  height:105px;
}
#u15_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u17 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u17_img.selected {
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:22px;
  top:0px;
  width:33px;
  height:20px;
}
#u20 {
  position:absolute;
  left:3px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u16_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21 {
  position:absolute;
  left:20px;
  top:20px;
  width:81px;
  height:20px;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u23 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:20px;
  top:40px;
  width:55px;
  height:20px;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:22px;
  top:0px;
  width:33px;
  height:20px;
}
#u26 {
  position:absolute;
  left:3px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:20px;
  top:60px;
  width:55px;
  height:20px;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:22px;
  top:0px;
  width:33px;
  height:20px;
}
#u29 {
  position:absolute;
  left:3px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:20px;
  top:80px;
  width:95px;
  height:20px;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u32 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:0px;
  top:232px;
  width:133px;
  height:105px;
}
#u33_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u35 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u35_img.selected {
}
#u35.selected {
}
#u36 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  position:absolute;
  left:22px;
  top:0px;
  width:73px;
  height:20px;
}
#u38 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u34_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39 {
  position:absolute;
  left:20px;
  top:20px;
  width:108px;
  height:20px;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u41 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:20px;
  top:40px;
  width:108px;
  height:20px;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u44 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:20px;
  top:60px;
  width:108px;
  height:20px;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u47 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:20px;
  top:80px;
  width:95px;
  height:20px;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u50 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:0px;
  top:332px;
  width:106px;
  height:85px;
}
#u51_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u53 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u53_img.selected {
}
#u53.selected {
}
#u54 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:22px;
  top:0px;
  width:73px;
  height:20px;
}
#u56 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u52_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57 {
  position:absolute;
  left:20px;
  top:20px;
  width:81px;
  height:20px;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u59 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:20px;
  top:40px;
  width:81px;
  height:20px;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u62 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:0px;
  top:60px;
  width:77px;
  height:20px;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  position:absolute;
  left:22px;
  top:0px;
  width:55px;
  height:20px;
}
#u65 {
  position:absolute;
  left:3px;
  top:2px;
  width:50px;
  visibility:hidden;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:144px;
  top:69px;
  width:457px;
  height:343px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:343px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u67 {
  position:absolute;
  left:144px;
  top:69px;
  width:439px;
  height:28px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:39px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  position:absolute;
  left:460px;
  top:372px;
  width:106px;
  height:32px;
}
#u69 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:153px;
  top:132px;
  width:427px;
  height:215px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u73 {
  position:absolute;
  left:141px;
  top:0px;
  width:141px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u75 {
  position:absolute;
  left:282px;
  top:0px;
  width:140px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u77 {
  position:absolute;
  left:0px;
  top:30px;
  width:141px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u79 {
  position:absolute;
  left:141px;
  top:30px;
  width:141px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u81 {
  position:absolute;
  left:282px;
  top:30px;
  width:140px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u83 {
  position:absolute;
  left:0px;
  top:60px;
  width:141px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u85 {
  position:absolute;
  left:141px;
  top:60px;
  width:141px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u87 {
  position:absolute;
  left:282px;
  top:60px;
  width:140px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u89 {
  position:absolute;
  left:0px;
  top:90px;
  width:141px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u91 {
  position:absolute;
  left:141px;
  top:90px;
  width:141px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u93 {
  position:absolute;
  left:282px;
  top:90px;
  width:140px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u95 {
  position:absolute;
  left:0px;
  top:120px;
  width:141px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u97 {
  position:absolute;
  left:141px;
  top:120px;
  width:141px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u99 {
  position:absolute;
  left:282px;
  top:120px;
  width:140px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u101 {
  position:absolute;
  left:0px;
  top:150px;
  width:141px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u103 {
  position:absolute;
  left:141px;
  top:150px;
  width:141px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u105 {
  position:absolute;
  left:282px;
  top:150px;
  width:140px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u107 {
  position:absolute;
  left:0px;
  top:180px;
  width:141px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u109 {
  position:absolute;
  left:141px;
  top:180px;
  width:141px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u111 {
  position:absolute;
  left:282px;
  top:180px;
  width:140px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:60px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u113 {
  position:absolute;
  left:0px;
  top:-1px;
  width:601px;
  height:60px;
}
#u114 {
  position:absolute;
  left:10px;
  top:10px;
  width:581px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u115 {
  position:absolute;
  left:205px;
  top:10px;
  width:193px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:438px;
  top:76px;
  width:45px;
  height:15px;
}
#u117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
